/* global */
.grid1{
    display: grid;
    grid-template-columns: 33.33% auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #101214;
    color: #7A7C80;

}

h2,.white{
    color: #fff;
}

a{
    color: #7A7C80;
    text-decoration: none;
}

.profile{
    max-width: 60%;
    max-height: 60%;
}

/* section 1 */
.section-1{
    padding-top: 20vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 26px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 8px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}

.section-1 a:hover{
    filter: brightness(1.75);
    transition: 0.2s;
}

/* section 2 */
.section-2{
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    text-indent: 10%;
    width: 100%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

/* gallery */
.container {
    text-indent: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    border-style: solid;
    border-width: 4px;
    border-color: rgba(0,0,0,0);
    margin: 0px 2px;
}

.item:hover {
    border-color: white;
    transition: 0.2s;
}

/* bs */
@media only screen and (max-width: 800px) {
 .grid1{
    display: grid;
    grid-template-columns: 100%;
 }
}
